:root {
  --img-url: url(img/inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg);
  --bg-white: hsla(0, 0%, 93%, 1);
  --text-colour: #303030;

  --ratio: 3.74;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  color: var(--text-colour);
}

/*! ------------------[LAYOUT]------------------ */

.background_img {
  min-height: 100dvh;
  height: auto;
  width: 100%;

  background: linear-gradient(
      0deg,
      rgba(233, 232, 232, 0.1),
      rgba(233, 232, 232, 0.1)
    ),
    var(--img-url);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  overflow-x: hidden;
}

.grid_div {
  display: grid;
  grid-template-rows: minmax(50px, auto) 1fr minmax(50px, auto);
  align-items: center;

  max-width: 80%;
  min-height: 100dvh;
  margin: 0 auto;

  background: var(--bg-white);
}

.overlay {
  /* Took this from Kevin Powell's video: https://www.youtube.com/watch?v=NwnZU6mWJkk */

  /* border-image-source: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  border-image-slice: fill 1; */

  /* This seems better? Above kept loading in weirdly */
  min-height: 100dvh;
  background: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
  );
}

/*! ------------------[HEADER]------------------ */

header {
  grid-row: 1;
  padding: 1rem 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header button {
  position: relative;
  top: 0.4rem;
}

.add_book_btn {
  grid-row: 2;
  place-self: center;

  margin: 1rem;
  padding: 1rem 1rem;
  line-height: 0;
  width: 100px;
  height: 20%;
  text-align: center;
}
/*! ------------------[MAIN]------------------ */

main {
  /* outline: 2px solid blue; */
  grid-row: 2;
  /* padding: 1rem 2rem; */
  height: 100%;
  min-width: 75%;

  display: grid;
  grid-template-rows: 1fr auto;
}

/*? ------------------[MAIN-BOOK-DISPLAY]------------------ */

.book-display {
  /* outline: 1px solid blue; */
  grid-row: 1;

  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 0.5fr));
  /* grid-template-columns: 1fr; */
  grid-auto-rows: auto;
  gap: 0.5rem;
  align-content: start;

  padding: 1rem;
  height: auto;
}

/*? ------------------[BOOK-CARD]------------------ */

.book_card {
  outline: 1px solid gray;

  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  width: 90%;
  min-width: 50%;
  margin: 0 auto;
  /* max-width: 400px; */
  min-height: 250px;
  height: auto;

  padding: 1rem;
  text-align: center;
}

.book_title {
  width: 100%;
  color: green;

  text-overflow: ellipsis;
  /* Required for text-overflow to actually fucking work!!!! */
  white-space: nowrap;
  overflow: hidden;
}

.book_author {
  width: 100%;
  color: blue;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.delete-button {
  margin-top: 1rem;
  padding: 0.5rem 0.6rem;
  width: 6rem;
  min-width: 3rem;
}

/*? ------------------[MAIN-DIALOG]------------------ */

:modal {
  background-color: #ffffff;

  width: clamp(350px, 70%, 700px);
  /* min-height: 100vh; */
  height: fit-content;
  overflow-y: auto;

  padding: 2.2rem;

  margin: 5rem auto;
  border: none;
  border-radius: 15px;

  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.book_form::backdrop {
  backdrop-filter: blur(3px);
}

/*? ------------------[MAIN-FORM]------------------ */

form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(6, auto) auto auto;
}

.form_title {
  font-size: clamp(1.2rem, 1.2rem + 2vw, 2.2rem);
  width: 61%;

  text-align: center;
}

.form_row {
  grid-column: 1;
  grid-row: 2 span 5;
  padding: 0.4rem;
  /* outline: 1px solid red; */
  width: 70%;

  place-self: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  /* outline: 1px solid red; */
}

.form_row label {
  grid-row: 1;
  padding-bottom: 0.4rem;

  /* width: 100px; */
  vertical-align: top;
  font-size: clamp(0.75rem, 0.75rem + 1vw, 1.4rem);
  font-weight: 600;
}

form input[type="text"],
input[type="number"] {
  appearance: none;
  border: none;
  outline: none;

  border: 1px solid #ddd;
}

.form_row input[type="text"] {
  width: 100%;
  min-width: 100%;
  grid-row: 2;
  padding: 0.4rem 0.6rem;

  font-size: 1.2rem;
  border-radius: 5px;
}

.form_row input[type="number"] {
  grid-row: 2;
  width: 30%;
  min-width: 20%;
  padding: 0.4rem 0.6rem;

  font-size: 1.2rem;
  border-radius: 5px;
}

.checkbox_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 2px;
}

/*? ------------------[MAIN-FORM-BUTTONS]------------------ */

.close_btn {
  height: 30px;
  width: 30px;
  padding: 0.18rem;
  border: none;
  outline: none;
  background-color: #ffffff;

  cursor: pointer;
  /* outline: 1px solid red; */

  grid-column: 2;
}

.btn_container {
  grid-column: 1;
  grid-row: 8;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 2rem;
}

.form_btn {
  margin-top: 2rem;
  padding: 0.5rem 0.6rem;
  width: 6rem;
  min-width: 3rem;
}

/*? ------------------[MAIN-FORM-STARS]------------------ */

.star_container {
  grid-row: 7;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  /* gap: 0.2rem; */
}

.star_container a {
  display: flex;
  text-decoration: none;
  /* border: 1px solid red; */
}

.star svg {
  width: 40px;
  height: 40px;
  padding: 3px;
}

.star path {
  color: #ddd;
  transition: color 0.2s ease-in-out;
}

.star svg path:hover {
  color: rgb(243, 217, 26);
}

.star_container:hover,
.star:hover ~ .star svg path {
  color: rgb(243, 217, 26);
}

.star.active path {
  color: rgb(243, 217, 26);
}

.book_read svg {
  position: relative;
  top: 3px;
  right: 2px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.book_read svg path {
  color: rgb(243, 217, 26);
}

/*! ------------------[FOOTER]------------------ */

footer {
  grid-row: 3;
  padding: 1rem 2rem;
}
